<div class="card">
    <div class="card__item">
        <img src="assets/img/cover.jpg">
        <div class="card__text">
            <h1>Dead Lord</h1>
            <h2>In Ignorance we trust</h2>
            <small>2014</small>
        </div>
    </div>
    <div class="card__item">
        <img src="assets/img/cover.jpg">
        <div class="card__text">
            <h1>Dead Lord</h1>
            <h2>In Ignorance we trust</h2>
            <small>2014</small>
        </div>
    </div>
    <div class="card__item">
        <img src="assets/img/cover.jpg">
        <div class="card__text">
            <h1>Dead Lord</h1>
            <h2>In Ignorance we trust</h2>
            <small>2014</small>
        </div>
    </div>
    <div class="card__item">
        <img src="assets/img/cover.jpg">
        <div class="card__text">
            <h1>Dead Lord</h1>
            <h2>In Ignorance we trust</h2>
            <small>2014</small>
        </div>
    </div>
    <div class="card__item">
        <img src="assets/img/cover.jpg">
        <div class="card__text">
            <h1>Dead Lord</h1>
            <h2>In Ignorance we trust</h2>
            <small>2014</small>
        </div>
    </div>
    <div class="card__item">
        <img src="assets/img/cover.jpg">
        <div class="card__text">
            <h1>Dead Lord</h1>
            <h2>In Ignorance we trust</h2>
            <small>2014</small>
        </div>
    </div>
    <div class="card__item">
        <img src="assets/img/cover.jpg">
        <div class="card__text">
            <h1>Dead Lord</h1>
            <h2>In Ignorance we trust</h2>
            <small>2014</small>
        </div>
    </div>
    <div class="card__item">
        <img src="assets/img/cover.jpg">
        <div class="card__text">
            <h1>Dead Lord</h1>
            <h2>In Ignorance we trust</h2>
            <small>2014</small>
        </div>
    </div>
    <div class="card__item">
        <img src="assets/img/cover.jpg">
        <div class="card__text">
            <h1>Dead Lord</h1>
            <h2>In Ignorance we trust</h2>
            <small>2014</small>
        </div>
    </div>
    <div class="card__item">
        <img src="assets/img/cover.jpg">
        <div class="card__text">
            <h1>Dead Lord</h1>
            <h2>In Ignorance we trust</h2>
            <small>2014</small>
        </div>
    </div>
</div>
