 
<form class="search-form"> 
    <mat-form-field class="example-full-width"> 
        <input matInput placeholder="Buscar vinilo" value="" formControlName="artist" (keyup.enter)="searching(search.value)" #search >
    </mat-form-field> 
</form>

<div class="card">
    <div class="card__item" *ngFor="let item of items | async">
        <img src="assets/img/cover.jpg">
        <div class="card__text">
            <h1>{{item.artist}}</h1>
            <h2>{{item.name}}</h2>
            <small>2014</small>
        </div>
    </div>
</div>
