<div class="add">
    <form class="example-form" (ngSubmit)="editVinyl(checkoutForm.value)" [formGroup]="checkoutForm">
        <h1>Ingresar Nuevo Disco</h1>
        <input type="hidden" formControlName="id">
        <mat-form-field class="example-full-width">
            <mat-label>Artista</mat-label>
            <input matInput placeholder="Nombre vinilo" value="" formControlName="artist">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Album</mat-label>
            <input matInput placeholder="Nombre vinilo" vakue="" formControlName="name">
        </mat-form-field>
 
        <button mat-raised-button color="primary">Guardar</button> 
        
    </form>
</div>
