<div class="add">
    <form class="example-form">
        <h1>Ingresar Nuevo Disco</h1>
        <mat-form-field class="example-full-width">
            <mat-label>Artista</mat-label>
            <input matInput placeholder="Nombre vinilo" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Album</mat-label>
            <input matInput placeholder="Nombre vinilo" value="">
        </mat-form-field>
 
        <button mat-raised-button color="primary">Guardar</button> 
        
    </form>
</div>
